
.footballcourts-list-fields-section {
  gap: 0px;
  padding: 0 10px;
}

.footballcourts-list-fields-section-card-images {
  width: 19rem;
  height: 17rem;
  border-radius: 0.8rem;
  object-fit: cover;
  padding-top: 1.25rem;
  padding-left: 1rem;

}
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


.footballcourts-container-informations-hr-list-section{
  margin-left: 4rem;
  margin-top: 1rem;
  width: 87%;
}

.list-football-courts {
  overflow-y: auto; 
  height: 100vh; 
  flex: 1;
  padding-right: 20px; 
}

.footballcourts-list-fields-section > div {
  transition: background-color 0.3s; 
}

.footballcourts-list-fields-section > div:hover {
  background-color: rgba(211, 211, 211, 0.5); 
}

.football-courts-location-map-iframe{
width: 60vw;
height:100vh;
}