.login {
    background-image: url('/src/assets/images/login.jpg');
    width: 100%;
    height: 62.85rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

.login-container {
    width: 44.06rem;
    height: 62.85rem;
    background-color: rgb(217, 217, 217, 0.84);
    display: flex;
    flex-direction: row;
}

.login-container-section {
    padding-top: 6.25rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
}

.login-container-section-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(12, 20, 33);
    font-family: 'Roboto', sans-serif;
}

.login-container-section-description {
    font-size: 1.25rem;
    width: 29rem;
    height: 4rem;
    padding-top: 1.5rem;
}

.login-container-section-email-title {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(12,20,33);
    font-family: 'Roboto', sans-serif;  
    padding-top: 3.5rem;        
}

.login-container-section-email-textfield {
    padding-top: 0.6rem;
}
.login-container-section-password-title {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(12,20,33);
    font-family: 'Roboto', sans-serif;  
    padding-top: 2.1rem;        
}

.login-container-section-password-textfield {
    padding-top: 0.6rem;
}

.login-container-section-forgot-password {
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 16rem;
    color: rgb(30,74,233);
    font-family: 'Roboto', sans-serif;  
}
.login-container-section-button-signin {
    padding-top: 3.5rem;
    padding-left: 0rem;
    width: 24rem;
}

.login-container-section-error {
    padding-top: 1.5rem;
    padding-left: 0rem;
    width: 24rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: red;
}
