.footer-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.9); 
    height: 18.75rem; 
}

.footer-section-logo {
    padding-left: 4.375rem; 
    padding-top: 6.25rem; 
}

.footer-section-first {
    display: flex;
    flex-direction: column;
    padding-left: 6.25rem; 
    padding-top: 5rem; 
}

.footer-section-second {
    display: flex;
    flex-direction: column;
    padding-left: 6.25rem;
    padding-top: 5rem; 
}

.footer-section-third {
    display: flex;
    flex-direction: column;
    padding-left: 6.25rem;
    padding-top: 5rem; 
}
