.footer-header {
    font-weight: 500 !important;
    font-family: 'Poppins' !important;
    margin-bottom: 1rem !important;
}

.footer-link {
    font-family: 'Poppins' !important;
    font-weight: 400 !important;
    text-decoration: none !important;
    margin: 0.4rem !important;
    margin-left: 0 !important;
}