* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.homepage {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.image-homepage {
    background-image: url('/src/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 1.25rem; 
    height: 31.25rem; 
}

.homepage-first-text {
    padding-left: 6.25rem;
    font-size: 3.125rem; 
    font-weight: bold; 
    color: white;
    font-family: 'Open Sans', sans-serif; 
}

.homepage-second-text {
    padding-left: 6.25rem;
    padding-top: 0.625rem; 
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Inter', sans-serif;
    width: 18.75rem; 
    font-weight: 300; 
}
.homepage-appointment-section {
    width: 37.5rem; 
    height: 5rem; 
    margin-left: 6.25rem; 
    background-color: rgba(240, 240, 240, 0.736);
    border-radius: 0.5rem; 
    margin-top: 1.25rem; 
    display: flex;
    flex-direction: row;
    padding-top: 0.3125rem; 
}

.homepage-our-services-title {
    padding-top: 1.875rem; 
    padding-left: 37.5rem; 
    font-size: 1.875rem; 
    font-weight: 400;
    color: rgba(139, 136, 136);
    font-family: 'Roboto', sans-serif;
}

.homepage-our-services-section {
    margin-top: 1.875rem; 
    padding-top: 0.9375rem; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homepage-our-services-section-card-first {
    width: 17.5rem;
    height: 15.625rem; 
    background-color: rgba(255, 255, 255, 0.736);
    display: flex;
    flex-direction: column;
    border: 0.3125rem solid rgba(210, 210, 210, 0.752); 
}

.homepage-our-services-section-card-second {
    width: 17.5rem; 
    height: 15.625rem;
    background-color: rgba(255, 255, 255, 0.736);
    display: flex;
    flex-direction: column;
    border: 0.3125rem solid rgba(210, 210, 210, 0.752); 
}


.homepage-our-services-section-card-third {
    width: 17.5rem;
    height: 15.625rem;
    background-color: rgba(255, 255, 255, 0.736);
    display: flex;
    flex-direction: column;
    border: 0.3125rem solid rgba(210, 210, 210, 0.752); 
}

.homepage-our-services-section-card-fourth {
    width: 17.5rem;
    height: 15.625rem; 
    background-color: rgba(255, 255, 255, 0.736);
    display: flex;
    flex-direction: column;
    border: 0.3125rem solid rgba(210, 210, 210, 0.752); 
}

.homepage-our-services-section-card-first-image {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.homepage-statistics-section {
    margin-top: 3.125rem; 
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.736);
    height: 12.5rem; 
}

.homepage-about-section {
    margin-top: 3.125rem; 
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.736);
    height: 31.25rem; 
}

.homepage-about-us-highlight {
    padding: 6.25rem 0;
    text-align: center;
    color: white;
}

.homepage-about-us-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2.5rem; 
    border-radius: 0.625rem; 
    display: inline-block;
    max-width: 50rem; 
    margin: 0 auto;
}

.homepage-about-us-highlight h2 {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 1.25rem; 
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.7); 
    font-family: Inter, sans-serif;
}

.homepage-about-us-highlight p {
    font-size: 1.125rem; 
    line-height: 1.8;
    margin-bottom: 1.875rem; 
}

.homepage-btn-learn-more {
    display: inline-block;
    padding: 0.9375rem 1.875rem; 
    font-size: 1rem; 
    color: #fff;
    background-color: #ff9800;
    border-radius: 0.3125rem; 
    text-decoration: none;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s, transform 0.3s;
}

.homepage-btn-learn-more:hover {
    background-color: #e68900;
    transform: translateY(-3px);
}

.homepage-lowest-section {
    margin-top: 3.125rem; 
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.9); 
    height: 18.75rem; 
}

.homepage-lowest-section-logo {
    padding-left: 4.375rem; 
    padding-top: 6.25rem; 
}

.homepage-lowest-section-first {
    display: flex;
    flex-direction: column;
    padding-left: 6.25rem; 
    padding-top: 5rem; 
}

.homepage-lowest-section-second {
    display: flex;
    flex-direction: column;
    padding-left: 6.25rem;
    padding-top: 5rem; 
}

.homepage-lowest-section-third {
    display: flex;
    flex-direction: column;
    padding-left: 6.25rem;
    padding-top: 5rem; 
}
