* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.homepage {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
   
}
.welcome-container {
    background-image: url('/src/assets/images/omer5.jpg');
    display: flex;
    flex-direction: row;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80.5vh;
}


.welcome-container-image-container {
    width: 100%;
    height: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome-container-image {
    width: 50%;
    height: 100%;
    margin-right: 13rem;
}

.homepage-welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    margin-left: 10vw;
    
}

.homepage-welcome-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5vh;
    font-family: "Poppins", sans-serif;
}

.homepage-welcome-header {
    font-size: 3.125rem; 
    font-weight: bold; 
    color: white;
    font-family: 'Open Sans', sans-serif; 
}


.homepage-welcome-inner {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Inter', sans-serif;
    width: 18rem; 
    font-weight: 500; 
    margin-top: 1.5rem;
}
.homepage-welcome-appointment {
    background-color: rgba(247, 247, 247, 0.295);
    background-color: "transparent";
    border-radius: 0.5rem; 
    margin-top: 1.25rem; 
    display: flex;
    flex-direction: row;
    padding: 1rem;
   /*  padding-left: 0; */

}

.homepage-welcome-appointment-label {
    font-size: 1.125rem !important; 
    font-weight: 600;
    height: 1.6rem !important;
    color: rgb(31, 31, 31) !important;
    font-family: 'Poppins', sans-serif;
    margin-right: 0.5rem;
}

.homepage-welcome-appointment-form {
    background-color: rgb(240, 240, 240);
    margin-right: 0.5rem;
    height: 7vh;
    width: 10vw;
}

#homepage-welcome-appointment-button {
    min-height: 100%;
    word-break: keep-all;
    font-weight: 600;
    min-width: 10vw;
    max-height: 7vh;
}

.homepage-our-services-title {
    font-size: 1.875rem; 
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    text-align: center;
}

.homepage-our-services-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.homepage-our-services-section-card {
    padding: 2rem;
    height: 13rem;
    background-color: rgba(255, 255, 255, 0.736);
    display: flex;
    flex-direction: column;
    width: 20%;
    /* border: 0.1rem solid rgba(210, 210, 210, 0.752);  */
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.625rem rgba(103, 103, 103, 0.3);
}

.homepage-our-services-section-card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.homepage-our-services-section-card-image {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.homepage-our-services-section-title {
    font-size: 1rem; 
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Poppins', sans-serif;
    margin-left: 0.5rem;
}

.homepage-our-services-section-card-text {
    font-size: 0.9rem;
    color: rgba(40, 40, 40, 0.8);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 1rem;

}

.homepage-statistics-section {
    margin-top: 3.125rem; 
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.736);
    height: 12.5rem; 
}

.homepage-about-section {
    margin-top: 3.125rem; 
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.736);
    height: 31.25rem; 
}

.homepage-about-us-highlight {
    padding: 6.25rem 0;
    text-align: center;
    color: white;
}

.homepage-about-us-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2.5rem; 
    border-radius: 0.625rem; 
    display: inline-block;
    max-width: 50rem; 
    margin: 0 auto;
}

.homepage-about-us-highlight h2 {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 1.25rem; 
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.7); 
    font-family: Inter, sans-serif;
}

.homepage-about-us-highlight p {
    font-size: 1.125rem; 
    line-height: 1.8;
    margin-bottom: 1.875rem; 
}

.homepage-btn-learn-more {
    display: inline-block;
    padding: 0.9375rem 1.875rem; 
    font-size: 1rem; 
    color: #fff;
    background-color: #ff9800;
    border-radius: 0.3125rem; 
    text-decoration: none;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s, transform 0.3s;
}

.homepage-btn-learn-more:hover {
    background-color: #e68900;
    transform: translateY(-3px);
}

